{% extends "admin/base_site.html" %}

<!-- LOADING -->
{% load i18n l10n %}
{% load url from future %}

<!-- BREADCRUMBS -->
{% block breadcrumbs %}
    <div id="breadcrumbs">
        <a href="../../">{% trans "Home" %}</a> &rsaquo;
        <a href="../">{{ app_label|capfirst }}</a> &rsaquo;
        <a href="./">{{ opts.verbose_name_plural|capfirst }}</a> &rsaquo;
        {% trans 'Refund multiple transactions' %}
    </div>
{% endblock %}

<!-- CONTENT -->
{% block content %}
    <div class="container-grid refund-confirmation">
        <div class="module">
            <h2>{% blocktrans %}Are you sure you want to refund the selected {{ objects_name }} objects?{% endblocktrans %}</h2>
            <div class="row">
                <ul class="rte">
                    {% for obj in queryset %}
                        <li>{{ opts.verbose_name|capfirst }}: <a href="{% url change_url_name obj.pk %}">{{ obj }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <form action="" method="post">{% csrf_token %}
            <div class="module footer">
                {% for obj in queryset %}
                    <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk|unlocalize }}" />
                {% endfor %}
                <input type="hidden" name="action" value="refund_transactions" />
                <input type="hidden" name="post" value="yes" />
                <ul class="submit-row" {% if is_popup %}style="overflow: auto;"{% endif %}>
                    <li class="left cancel-button-container"><a href="." class="cancel-link">{% trans "Cancel" %}</a></li>
                    <li class="submit-button-container"><input type="submit" value="{% trans "Yes, I'm sure" %}" class="default" /></li>
                </ul><input type="hidden" name="post" value="yes" />
            </div>
        </form>
    </div>
{% endblock %}